<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Документ</title>
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <div class="container">
    <div class="btn-wrap">
      <button class="btn btn-small">Загрузить</button>
      <button class="btn btn-small">Обновить</button>
      <button class="btn btn-small">Удалить</button>
    </div>

    <table class="vertical-table" th:object="${document}">
      <tr>
        <th>Создан</th>
        <td th:text="*{created}"></td>
      </tr>
      <tr>
        <th>Обновлен</th>
        <td th:text="*{updated}"></td>
      </tr>
      <tr>
        <th>Автор</th>
        <td th:text="*{author.getLogin()}"></td>
      </tr>
      <tr>
        <th>Название</th>
        <td th:text="*{name}"></td>
      </tr>
      <tr>
        <th>Ключевые слова</th>
        <td th:text="*{topWords}"></td>
      </tr>
      <tr>
        <th>Распознанный текст</th>
        <td class="vertical-scroll" th:text="*{parsedText}"></td>
      </tr>
    </table>
  </div>
</body>
</html>