<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Документ</title>
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <div
    class="container"
    th:object="${document}"
    th:data-document-id="${document.id}"
    th:data-document-name="${document.name}"
  >
    <div class="btn-wrap">
      <button class="btn btn-small" id="download-btn">Загрузить</button>
      <button class="btn btn-small" id="update-btn">Обновить</button>
      <button class="btn btn-small" id="delete-btn">Удалить</button>
    </div>

    <table class="vertical-table" >
      <tr>
        <th>Создан</th>
        <td th:text="*{created}"></td>
      </tr>
      <tr>
        <th>Обновлен</th>
        <td th:text="*{updated}"></td>
      </tr>
      <tr>
        <th>Автор</th>
        <td th:text="*{author.getLogin()}"></td>
      </tr>
      <tr>
        <th>Название</th>
        <td th:text="*{name}"></td>
      </tr>
      <tr>
        <th>Ключевые слова</th>
        <td th:text="*{topWords}"></td>
      </tr>
      <tr>
        <th>Распознанный текст</th>
        <td class="vertical-scroll" th:text="*{parsedText}"></td>
      </tr>
    </table>
  </div>

  <script>
    const documentId = [[${document.id}]];
    const documentName = "[[${document.name}]]";

    async function onDownloadClick() {
      const response = await fetch(`/documents/bytes/${documentId}`);
      const blob = await response.blob();
      const link = document.createElement("a");
      link.href = window.URL.createObjectURL(blob);
      link.download = documentName;
      document.body.appendChild(link);
      link.click();
      link.remove();
    }

    function onUpdateClick(event) {
    }

    async function onDeleteClick() {
      await fetch(`/documents/${documentId}`, { method: "DELETE" });
      location.href = `/documents`;
    }

    document.addEventListener("DOMContentLoaded", () => {
      document.querySelector("#download-btn").addEventListener("click", onDownloadClick);
      document.querySelector("#update-btn").addEventListener("click", onUpdateClick);
      document.querySelector("#delete-btn").addEventListener("click", onDeleteClick);
    });
  </script>
</body>
</html>