<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Документы</title>
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <div class="container">
    <table>
      <thead>
        <tr>
          <th>Дата</th>
          <th>Автор</th>
          <th>Название</th>
          <th>Ключевые слова</th>
          <th>Распознанный текст</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each="document : ${documents}" class="row document" th:data-document-id="${document.id}">
          <td th:text="${document.created}"></td>
          <td th:text="${document.author}"></td>
          <td th:text="${document.name}"></td>
          <td th:text="${document.topWords}"></td>
          <td th:text="${document.parsedText}"></td>
        </tr>
      </tbody>
    </table>
  </div>

  <script>
    function onDocumentClick(event) {
      const row = event.target.closest(".document")
      location.href = `/documents/${row.dataset.documentId}`;
    }

    document.addEventListener("DOMContentLoaded", () => {
      const documents = document.querySelectorAll(".document");
      documents.forEach(document => {
        document.addEventListener("click", onDocumentClick)
      })
    });
  </script>
</body>
</html>