<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Найти</title>
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <form method="GET" class="container" enctype="multipart/form-data" th:action="@{/table}">
    <label for="name-input">Введите название документа</label>
    <input name="name" class="input" id="name-input" type="text">
    <button type="submit" class="btn">Найти</button>
  </form>
</body>
</html>