<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
  <div>
    <form action="" class="container">
      <label for="login">Введите логин</label>
      <input id="login" type="text" class="input">
      <label for="password">Введите пароль</label>
      <input id="password" type="text" class="input">
      <button type="submit" class="btn">Войти в аккаунт</button>
    </form>
  </div>
</body>
</html>