<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Меню</title>
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <div class="container menu">
    <button class="btn">
      <a th:href="@{/upload}">Загрузить PDF-файл</a>
    </button>

    <button class="btn">
      <a th:href="@{/documents/my}">Мои файлы</a>
    </button>

    <button class="btn">
      <a th:href="@{/documents}">Посмотреть все файлы</a>
    </button>

    <button class="btn">
      <a th:href="@{/find}">Найти файл по названию</a>
    </button>
  </div>
</body>
</html>