<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Документы</title>
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <div class="container">
    <table>
      <tr>
        <th>Дата</th>
        <th>Название</th>
        <th>Автор</th>
        <th>Ключевые слова</th>
        <th>Распознанный текст</th>
      </tr>
      <tr>
        <td>17.09.2999</td>
        <td>Ass Shaker</td>
        <td>Kolpakov i love you</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, totam!</td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, tempora.
        </td>
      </tr>
      <tr>
        <td>17.09.2999</td>
        <td>Ass Shaker</td>
        <td>Kolpakov</td>
        <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, totam!</td>
        <td>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet aspernatur, autem dolores, et exercitationem explicabo fugit inventore modi mollitia nihil odio porro quae quaerat quasi quia quod ratione veritatis, vero voluptatibus? Ad error harum molestiae perferendis sunt veniam vero voluptatibus. A aspernatur cupiditate excepturi exercitationem odit quae quia veniam?
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, tempora.
        </td>
      </tr>
    </table>
  </div>
</body>
</html>