<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Загрузить</title>
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
  <form
    method="POST"
    class="container menu"
    enctype="multipart/form-data"
    action="#"
  >
    <input id="file-input" type="file" name="file" accept=".pdf">

    <label for="name-input">Введите название файла</label>
    <input id="name-input" type="text" class="input" name="name" accept=".pdf">

    <button type="submit" class="btn">Загрузить</button>
  </form>

  <script th:inline="javascript">
    const replaceId = [[${replaceId}]];

    document.addEventListener("DOMContentLoaded", () => {
      const fileInput = document.querySelector("#file-input");
      const nameInput = document.querySelector("#name-input");

      fileInput.addEventListener("change", (event) => {
        nameInput.value = event.target.files[0].name;
      });

      document.forms[0].action = replaceId
        ? `/documents/${replaceId}`
        : "/documents";
    });
  </script>
</body>
</html>